.home-container {

    .ant-card-body {
        padding: 5px;
    }

    .ant-form-item-label label {
        font-weight: bold;
        font-size  : 15px;
    }

    .ant-card-cover {
        padding: 10px;
    }
}