.header-container {
    align-items: center;
    padding    : 10px;

    .drawer {
        text-align: center;

        .drawer-icon {
            font-size: 30px;
        }
    }

    .logo {
        .logo-icon {
            color                    : #4c96ff;
            font-size                : 30px;
            animation-name           : spin;
            animation-duration       : 5000ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        .logo-name {
            padding-left: 10px;
            font-weight : bold;
            color       : #4c96ff;
            font-size   : 20px;
        }
    }

    .search {
        padding: 10px;

        .search-icon {
            font-size: 20px;
            color    : #4c96ff;
        }
    }

    .others {
        align-items: center;

        .cart,
        .settings {
            text-align: center;

            .cart-icon {
                font-size: 30px;
                color    : #4c96ff;
            }
        }
    }
}